/*site.css*/

body{
	
	margin: 0 auto;
}

header,footer{
	background-color:grey;
	padding:30px;
}

header{
	margin-bottom:5px;
}

header nav{
	float:right;
	margin-right: 5px;
}

header nav li {
  display: inline;
  font-size: 18px;
}

#headerLines{
	display:inline-block;
}

#headerP{
	font-weight:bolder;
	color:#0033cc;
	font-size:19px;
}
.container{
	margin:10px;
	padding:5px;
	border:2px;
	border-style:solid;
	border-color:black;
	border-radius:3px;
	text-align:center;
}
p{
	font-weight:bold;
	color:#3399ff;
}
.bodyCore{
	border:1px dotted black;
	padding:40px;
	margin-top:8px;
	margin-bottom:8px;
}
.bordered-image{
	border:2px solid black;
	margin:4px 2px 0px 2px;
}

footer p{
	margin:5px;
	font-weight:bolder;
}